.slideshow-container {
    max-width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.current-slide {
    display: block;
    margin: auto;
}

.close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    padding: 0 0.2em;
    color: var(--white);
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
    border-width: 0;
}

.close:hover, .close:active, .close:focus {
    color: var(--darker-gray);
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0 1em;
    color: var(--white);
    font-weight: bold;
    font-size: larger;
    transition: 0.3s ease;
    border-width: 0;
    background-color: transparent;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: var(--gray);
}

.prev:focus, .next:focus {
    outline: none;
}

.number {
    color: var(--white);
    font-size: 0.8em;
    font-weight: bolder;
    padding: 0.8em;
    position: absolute;
    top: 0;
}

figcaption {
    color: var(--gray);
    font-size: 12px;
    background-color: var(--white);
    padding: 0.5em;
}

