.slideshow-container {
    max-width: 1000px;
    position: absolute;
    top: 0;
    margin: auto;
}

.current-slide {
    display: block;
    margin: auto;
}

.close {
    float: right;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s ease;
    border-radius: 50%;
    border-width: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: var(--gray);
}

.prev:focus, .next:focus {
    outline: none;
}

.number {
    color: var(--white);
    font-size: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
}

.caption {
    color: var(--gray);
    font-size: 12px;
}

